<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Budget</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    .container {
      overflow: hidden;
    }
  </style>
</head>
<body>

<a href="/">
  Go Home
</a>

<p th:if="${#strings.isEmpty(errorMsg)}">
  <span th:text="${errorMsg}"></span>
</p>

<div class="container">
  <table>
    <tr>
      <!-- Create Title Row for each account -->
      <td>DATES</td>
      <td colspan="2" th:each="entry : ${balances}">
        <p><span th:text="${entry.key.name}"></span></p>
      </td>
    </tr>
    <th:block th:each="i : ${#numbers.sequence(0, dates.size()-1)}">
      <!-- Create 1 row for each day of month -->
      <tr>
        <td th:text="${dates.get(i)}">date</td>
        <th:block th:each="entry : ${balances}">
          <td th:text="${entry.value.get(i).balance}">balance</td>
          <td>
            <a th:text="${entry.value.get(i).getTotalTransactionAmount()}"
               th:href="@{/transactions/{accountName}/{date}(accountName=${entry.key.name},date=${entry.value.get(i).date})}">
              transaction amount
            </a>
          </td>
        </th:block>
      </tr>
    </th:block>
  </table>
</div>
</body>
</html>