<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

<p th:if="${#strings.isEmpty(errorMsg)}">
  <span th:text="${errorMsg}"></span>
</p>

<a th:href="@{/accounts}">
  This month Budget
</a>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>BALANCE</th>
    <th>TRANSACTIONS</th>
  </tr>
  <tr th:each="account : ${accounts}">
    <td th:text="${account.id}">1</td>
    <td th:text="${account.name}">Name</td>
    <td th:text="${account.currentBalance}">0</td>
    <td >
      <a th:href="@{/transactions/{accountName}(accountName=${account.name})}">
        Transactions
      </a>
    </td>
    <td >
      <a th:href="@{/accounts/{accountName}/may(accountName=${account.name})}">
        This month
      </a>
    </td>
  </tr>
</table>

</body>
</html>