<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post Transaction</title>
</head>
<body>

<a href="transactions.html" th:href="@{/transactions/{accountName}(accountName=${account.name})}">
  Back to Transactions
</a>

<form action="transaction" th:action="@{/transactions/new}" th:object="${transactionRequestBody}"
      method="post">

  <table>

    <tr>
      <td>
        <label for="account">Account</label>
      </td>
      <td>
        <!-- use name/id to map to object, so value can be defaulted -->
        <input type="text" id="account" th:name="accountName" th:id="accountName" th:value="${account.name}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label for="date">Date</label>
      </td>
      <td>
        <!-- use name/id to map to object, so value can be defaulted -->
        <input type="date" id="date" th:name="date" th:id="date" th:value="${today}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label for="desc">Description</label>
      </td>
      <td>
        <input type="text" id="desc" th:field="*{description}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label for="amount">Amount</label>
      </td>
      <td>
        <input type="number" id="amount" th:field="*{amount}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label for="cd">Credit/Debit</label>
      </td>
      <td>
        <!-- use name/id to map to object, so value can be defaulted -->
        <input type="text" id="cd" th:name="creditDebit" th:id="creditDebit" value="Debit"/>
      </td>
    </tr>

  </table>
  <input type="submit" value="Post"/>

</form>

</body>
</html>