<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Transactions</title>
</head>
<body>

<a href="/">
  Go Home
</a>
<br/>
<a href="transactions.html" th:href="@{/accounts/{month}(month=${month})}">
  Back to Budget
</a>

<p th:if="not ${#strings.isEmpty(errorMsg)}">
  <span th:text="${errorMsg}"></span>
</p>

<table>
  <tr>
    <th>ID</th>
    <th>DATE</th>
    <th>AMOUNT</th>
    <th>DESCRIPTION</th>
    <th>TYPE</th>
    <th></th>
  </tr>
  <tr th:each="txn : ${transactions}">
    <td th:text="${txn.id}">1</td>
    <td th:text="${txn.date}">Date</td>
    <td th:text="${txn.amount}">0</td>
    <td th:text="${txn.description}">Stuff</td>
    <td th:text="${txn.transactionType}">T</td>
    <td>delete</td>
  </tr>
</table>

<a href="newtransaction.html" th:href="@{/transactions/new/{accountName}/{date}(accountName=${accountName},date=${date})}">
  Add New Transaction
</a>

</body>
</html>